body {
  touch-action: manipulation;
  margin: 8px;
}
body, button, select {
  font-family: MS Sans Serif, sans-serif, Noto Emoji;
  font-size: 11px;
}
button, input.hidden + label {
  border: 2px outset;
}
button:active:not(:disabled), input.hidden:checked + label {
  border: 2px inset;
}
button:disabled, input.hidden:disabled + label, #mainframe.loading {
  filter: contrast(0.5);
}
button.used:disabled, input.hidden.used:disabled + label {
  filter: contrast(0.25);
}
ol, ul {
  list-style-type: none;
  padding-left: 0;
}
fieldset {
  padding-block: 0;
}
.sel {
  width: 40px;
  height: 40px;
}
.die {
  width: 110px;
  height: 110px;
  border: 2px inset;
  object-fit: none;
}
.die:nth-child(odd) {
  background-color: whitesmoke;
}
.die:nth-child(even) {
  background-color: lightgray;
}
input.hidden {
  appearance: none;
  position: absolute;
  inset: 0;
}
label.hold {
  padding: 8px;
  color: whitesmoke;
  background-color: firebrick;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
}
input:checked + label.hold {
  background-color: salmon;
}
.action:active:not(:disabled), input:active:not(:disabled) + label.hold {
  background-color: crimson;
}
input.hidden:active:not(:disabled) + label.sel {
  border-color: silver;
}
.action {
  color: peachpuff;
  background-color: firebrick;
  width: 128px;
  height: 36px;
}
.container {
  display: flex;
  position: relative;
}
.zoom {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media (min-height: 500px) {
  .zoom:not(.stay) {
    display: none;
  }
}
#rollButton {
  color: whitesmoke;
}
#selectButton {
  background-color: yellow;
}
#selectButton:active:not(:disabled) {
  background-color: gold;
}
#onesButton {
  background-image: url("sel1.gif");
}
#twosButton {
  background-image: url("sel2.gif");
}
#threesButton {
  background-image: url("sel3.gif");
}
#foursButton {
  background-image: url("sel4.gif");
}
#fivesButton {
  background-image: url("sel5.gif");
}
#sixesButton {
  background-image: url("sel6.gif");
}
#threeOfAKindButton {
  background-image: url("sel7.gif");
}
#fourOfAKindButton {
  background-image: url("sel8.gif");
}
#fullHouseButton {
  background-image: url("sel9.gif");
}
#smallStraightButton {
  background-image: url("sel10.gif");
}
#largeStraightButton {
  background-image: url("sel11.gif");
}
#chanceButton {
  background-image: url("sel12.gif");
}
#yahtzeeButton {
  width: 80px;
  background-image: url("sel13.gif");
}
#scoreLabel {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}
#rollButton {
  text-transform: uppercase;
}
#mainframe {
  border: 7px solid peachpuff;
  border-radius: 8px;
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
}
#mainframe.loading {
  animation: spin 2s ease infinite;
}
#bonusYahtzee {
  position: absolute;
  top: -3em;
  left: 50%;
  translate: -50%;
  text-align: center;
  width: 140px;
  padding: 2px;
  color: indigo;
  outline: 2px solid rebeccapurple;
  animation: pulse 1.5s steps(1) infinite;
}

@keyframes spin {
  from {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(3, 8, 10, 360deg);
  }
}

@keyframes pulse {
  0% {
    outline-color: rebeccapurple;
  }
  50% {
    outline-color: transparent;
  }
  100% {
    outline-color: transparent;
  }
}
