.trophy.platinum .trophy-icon {
  outline: 5px solid aliceblue;
}

.trophy.gold .trophy-icon {
  outline: 4px solid gold;
}

.trophy.silver .trophy-icon {
  outline: 3px solid silver;
}

.trophy.bronze .trophy-icon {
  outline: 2px solid darkorange;
}

.trophy.copper .trophy-icon {
  outline: 1px solid lightsalmon;
}

.trophy.snail:hover .trophy-icon {
  color: #77a3d7;
}

.trophy.shroom:hover .trophy-icon {
  color: #ef884d;
}

.trophy.pig:hover .trophy-icon {
  color: #f5adad;
}

.trophy.root:hover .trophy-icon {
  color: #dbc78e;
}

.trophy.panda:hover .trophy-icon {
  color: #b5a3a3;
}

.trophy.leaf:hover .trophy-icon {
  color: #8ebd96;
}
.trophy.leaf {
  background-color: #d5edc3;
}

.trophy.mega:hover .trophy-icon {
  color: #e06767;
}
.trophy.mega {
  background-color: #dee9ed;
}

.trophy.smega:hover .trophy-icon {
  color: #c1a000;
}
.trophy.smega {
  background-color: #f7e3e9;
}

.trophy.explosion:hover .trophy-icon {
  color: #eb653e;
}
.trophy.explosion {
  background-color: #f9d4bc;
}

.trophy.bone:hover .trophy-icon {
  color: #c0c1bd;
}
.trophy.bone {
  background-color: #e9eadc;
}

.trophy.skull:hover .trophy-icon {
  color: #a0aca3;
}
.trophy.skull {
  background-color: #e5e8e3;
}

.trophy.crossbones:hover .trophy-icon {
  color: #879292;
}
.trophy.crossbones {
  background-color: #e0e6e2;
}

.trophy.camel .trophy-icon {
  color: sandybrown;
}
.trophy.camel {
  background-color: bisque;
}

.trophy.cow .trophy-icon {
  color: peru;
}
.trophy.cow {
  background-color: wheat;
}

.trophy.shamrock .trophy-icon {
  color: #85c1a0;
}
.trophy.shamrock {
  background-color: #d2efd2;
}

.trophy.bamboo .trophy-icon {
  color: #a1a56f;
}
.trophy.bamboo {
  background-color: #e7efc3;
}

.trophy.devil .trophy-icon {
  color: #a690c3;
}
.trophy.devil {
  background-color: #e9e2e5;
}

.trophy.shuriken .trophy-icon {
  color: #8f8f8f;
}
.trophy.shuriken {
  background-color: #fadbd6;
}

.trophy.envelope .trophy-icon {
  color: #ed6e85;
}
.trophy.envelope {
  background-color: #ffd8c2;
}

.trophy.dragon .trophy-icon {
  color: #8ba885;
}
.trophy.dragon {
  background-color: #dde9c4;
}

.trophy.diamond .trophy-icon {
  color: #ccdfe0;
}
.trophy.diamond {
  background-color: #e4ece8;
}

.trophy.comet .trophy-icon {
  color: #d8d4b1;
}
.trophy.comet {
  background-color: #ebebcc;
}

.trophy.phoenix .trophy-icon {
  color: #ffb699;
}
.trophy.phoenix {
  background-color: #fce9cf;
}

.trophy.fortune .trophy-icon {
  color: #9e8ac7;
}
.trophy.fortune {
  background-color: #eeddf4;
}

.trophy.yaouw .trophy-icon {
  color: #abbab4;
}
.trophy.yaouw {
  background-color: #dae7e2;
}

.trophy.submarine .trophy-icon {
  color: #c9b854;
}
.trophy.submarine {
  background-color: #f1ecac;
}
